body {
margin-left:0;
}
h2{
    margin:0;
}

.nav-container{
    box-shadow:  0px 1px 0px rgb(224, 224, 224);
    margin:0 0;
}

.navbar{
    
  display:flex;
  padding-bottom: 2vh;
  margin:3vh 21.5vw;
 

}
.logo{
    width:130px;
   
}
.left{
    width:30%;
    margin:auto 0;
}
.right{
    margin:auto 0;
    margin-left:5vw;
    list-style-type: none ;
   width:70%;
  display:flex;
  font-size: .8vw;
  font-family: "Inter",sans-serif;
  justify-content: space-evenly;
}
.tab-item:hover{
    color: #387ed1;
}


/* Section 1 */
.container{
    margin:0 21.5vw;
    display: flex;
    justify-content: center;
    font-family: "Inter",sans-serif;
}

.trade-img{
    width:50vw;
}

.section1{
    margin-top:10vh;
   text-align: center;
}

.lower1 > h1{
    font-size:2vw;
    margin-top:4vw;
    color: rgb(82, 82, 82);
}
.lower1 > p{
    font-size: 1vw;
    color: rgb(120, 120, 120);
}

.sign-up-button{
  margin-top: 3vh;
    width:8vw;
    padding:1vh 0;
     font-size:18px;
     font-family: "Inter",sans-serif;
   background-color: #387ed1;
   color:white;
   border-style: none;
   border-radius: 5px;
   font-weight: 500;
}
.sign-up-button:hover{
    background-color: black;
    
}